<html>
 <head>
     <title></title>
 </head>
 <style type="text/css">
     .style1,body
     {
        font-size: 20px;
        font-family: "Times new roman", "sans-serif";
        font-weight: 300;
        text-transform: uppercase;
        line-height: 20px;
     }
     table, th, td {
    height: 50;
}
 </style>
 <body style="margin: 0px">
     <table style="width: 100%;">
         <thead align="left" style="display: table-header-group">
             <tr>
                 <th colspan="2">
                     <table style="width: 100%; border-bottom: 5px solid Black">
                        <tr>
                             <td colspan="2" style="vertical-align: middle;font-size: 20px;
                                 color: Navy" align="center">
                             <img src="https://etlk.lk/assets/images/logo2.png">
                            </td>
                         </tr>
                         <tr>

                             <td colspan="2" style="vertical-align: middle;font-size: 24px;
                                 color: Navy" align="center">
                                 Event Ticket
                             </td>
                         </tr>
                     </table>
                 </th>
             </tr>
         </thead>
         <!-- table footer to be repeated on each PDF page -->
         <tfoot align="left" style="display: table-footer-group">
             <tr>
                 <td colspan="2">
                     <table style="width: 100%; border-top: 5px solid Black">
                         <tr>
                             <td colspan="2" style="vertical-align: middle;font-size: 24px;
                                 "align="center">
                                 E-ticketing Lanka
                             </td>

                         </tr>
                     </table>
                 </td>
             </tr>
         </tfoot>
        <tr>
            <td>
                <table>
         <!-- table header to be repeated on each PDF page -->

         <!-- table body -->
         <tbody class="style1">
             <tr>
                 <td >
                    Name : {{name}}
                 </td>

             </tr>
             <tr>
                 <td >
                    Email :  {{username}} 
                 </td>

             </tr>
             <tr>
                 <td >
                     Event : {{event.name}}
                 </td>
             </tr>
             <tr>
                 <td >
                    Phone No : {{user.phone_no}}
                 </td>
             </tr>
             <tr>
                 <td>
                    Event Start Date :{{eventdate.start_date}}
                 </td>
             </tr>
             <tr>
                 <td>
                    Event End Date :{{eventdate.end_date}}
                 </td>
             </tr>
             <tr>
                 <td>
                    Seat No:{{data.seat_no}} 
                 </td>
             </tr>
             <tr>
                 <td>
                    Address: {{venue.name}} <br>
                    {{address}}<br>
                 </td>
             </tr>
            <!-- <tr>
                 <td>
                    Date: {{ data.purchase_date_ts | date:'Y-m-d H:i' }}
                 </td>
             </tr> -->
             <tr>
                 <td style="color:red;font-size: 16px;">TICKETS ARE NON-TRANSFERABLE. ONLY VALID WHEN PURCHASED FROM E-TICKETING LANKA.UNAUTHORISED DUPLICATION WILL RESULT IN CANCELLATION WITHOUT REFUND</td>
             </tr>



         </tbody>
     </table>
     </td>
     <td> <img src="https://etlk.lk/{{qrcode.path}}"></td>
     <!-- <td> <img src="http://localhost:8000/{{qrcode.path}}"></td> -->

     </tr>
     </table>
 </body>
 </html>

